<h1>居酒屋ファインダー</h1>

<body>
<%= form_for @update,url: "/update", method: "post" do %>

<li>現在地を取得</li>

<!-- 地名入力用のinputを追加 -->
<input id="address" value="川崎駅">
<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="検索" onclick="codeAddress()">
<div id='map'>
</div>

<style>
#map{
  height: 400px;
}
</style>

<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/


let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.531328, lng: 139.696899},
  zoom: 15
  });
  var marker = new google.maps.Marker({
          map: map,
          position: {lat: 35.531328, lng: 139.696899}
      });
}

function codeAddress(){ 
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);




　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      display1.textContent = results[0].geometry.location.lat();
      display2.textContent = results[0].geometry.location.lng();
      let lat = display1.textContent;
      let lng = display2.textContent;
      
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnwFUnTZdkOp_gqWW9ohMtNeITpSQ3aRE&callback=initMap" async defer></script>

<div id = "display1" name = "lat" value = "lat">緯度</div>
<div id = "display2" name = "lng" value = "lng">経度</div>




 
 <%=session[:range]%><%=session[:lng]%>
  
<li>お店までの距離</li>
<select name="range" required>
<option selected="selected" value= "3">おまかせ</option>
<option value= "1">300m</option>
<option value= "2">500m</option>
<option value= "3">1000m</option>
<option value= "4">2000m</option>
<option value= "5">3000m</option>
</select>
<br><br>

<li>金額の目安</li>
<select name="maney" required>
<option selected="selected" value= "2000">おまかせ</option>
<option value= "1000">~1000円</option>
<option value= "2000">1000~2000円</option>
<option value= "3000">2000~3000円</option>
<option value= "4000">3000~4000円</option>
<option value= "5000">4000~5000円</option>
<option value= "6000">5000円以上</option>
</select>
<br><br>



<li>喫煙</li>
<select name="smoking" required>
<option selected="selected" value= "0">禁煙</option>
<option value= "1">喫煙</option>
</select>
<br><br><br>

<a href="/show" class="btn-square">検索</a>
<% end %>


   


</body>
<br><br><br>
Powered by <a style="text-align:right" href="http://webservice.recruit.co.jp/">ホットペッパー Webサービス</a>