<h1>居酒屋ファインダー</h1>

<body>

<p>検索条件を指定してください</p>

<%= form_with url: update_path do |f| %>

<li>最寄りの駅</li>
<%=f.select :address,[["川崎","川崎"],["鶴見","鶴見"],["綱島","綱島"],["蒲田","蒲田"]]%>
<br><br>

<li>喫煙</li>
<%=f.select :smoking,[["禁煙","0"],["喫煙","1"]]%>
<br><br>

<%=f.submit "検索"%>
<%end%>

</body>
<br><br><br>
Powered by <a style="text-align:right" href="http://webservice.recruit.co.jp/">ホットペッパー Webサービス</a>