<h1>居酒屋ファインダー</h1>

<body>
<%=form_tag("/update", method: :post) do %>

<li>現在地を取得</li>
<select name="address" required>


<!-- 地名入力用のinputを追加 -->
<input id="address" type="textbox" value="川崎駅">

<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="Encode" onclick="codeAddress()">
<div id='map'>
</div>

<style>
#map{
  height: 400px;
}
</style>

<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/


let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.531328, lng: 139.696899},
  zoom: 15
  });
}

function codeAddress(){ 
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);


let lat = results[0].geometry.location.lat();
let lng = results[0].geometry.location.lng();

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnwFUnTZdkOp_gqWW9ohMtNeITpSQ3aRE&callback=initMap" async defer></script>

</select>
    <%=@lat%><%=@lng%>
  
<li>お店までの距離</li>
<select name="range" required>
<option name="range" value= "0">おまかせ</option>
<option name="range" value= "1">100m</option>
<option name="range" value= "3">200m</option>
<option name="range" value= "4">300m</option>
<option name="range" value= "5">400m</option>
<option name="range" value= "6">500m</option>
<option name="range" value= "7">500m以上</option>
</select>
<br><br>

<li>金額の目安</li>
<select name="maney" required>
<option name="maney" value= "0">おまかせ</option>
<option name="maney" value= "1">~1000円</option>
<option name="maney" value= "2">1000~2000円</option>
<option name="maney" value= "3">2000~3000円</option>
<option name="maney" value= "4">3000~4000円</option>
<option name="maney" value= "5">4000~5000円</option>
<option name="maney" value= "6">5000円以上</option>
</select>
<br><br>



<input type="checkbox" name="smoking" value= "0">喫煙
<br><br><br>
<a href="/show" class="btn-square">検索</a>
<% end %>


     <%=@results%>


</body>
<br><br><br>
Powered by <a style="text-align:right" href="http://webservice.recruit.co.jp/">ホットペッパー Webサービス</a>