<h1>居酒屋ファインダー</h1>

<body>
<%=form_tag("/update", method: :post) do %>

<li>現在地を取得</li>
<select input name="address" required>
</select>
    
  
<li>お店までの距離</li>
<select name="range" required>
<option name="range0">おまかせ</option>
<option name="range1">100m</option>
<option name="range2">200m</option>
<option name="range3">300m</option>
<option name="range4">400m</option>
<option name="range5">500m</option>
<option name="range6">500m以上</option>
</select>
<br><br>

<li>金額の目安</li>
<select name="maney" required>
<option name="maney0">おまかせ</option>
<option name="maney1">~1000円</option>
<option name="maney2">1000~2000円</option>
<option name="maney3">2000~3000円</option>
<option name="maney4">3000~4000円</option>
<option name="maney5">4000~5000円</option>
<option name="maney6">5000円以上</option>
</select>
<br><br>

<input type="checkbox" name="smoking">喫煙
<br><br><br>
<a href="/" class="btn-square">検索</a>
<% end %>


     
<%=@response%>

</body>
<br><br><br>
Powered by <a style="text-align:right" href="http://webservice.recruit.co.jp/">ホットペッパー Webサービス</a>