// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1{
  color:red;
  font-size:50px;
}

p {
  color: #6594e0;/*文字色*/
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 1px #6594e0;
}

body{
  color:orange;
  background-color:rgb(252, 252, 252);
  font-size:20px;
    display: table;
    width: 500%;
    margin: 0 auto;
    max-width: 800px;
    height: 10rem;
    text-align: center;
    vertical-align: middle;
  }

.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }